---
title: Dead Bird Switch
---
<article class="prose">
  <h1><%= current_page.data.fetch("title") %></h1>

  <p>The new Twitter rewrites the rules, publishes them, then immediatly gets to work banning people with little to no notice on the new rules. Dead bird switch is an insurance policy for when you get banned.</p>

  <h2>How it works</h2>
  <p>When you get banned from Twitter, people can go to deadbirdswitch.com/:twitter_handle and see your new coordinates.</p>

  <h2>Getting started</h2>
  <p>There's a little bit of setup to get started. Since connecting this directly to Twitter via OAuth would likely result in an immediate ban, you'll have to signup for an account here, tweet a verification code from your username, then you'll write a message that will appear if you get banned from Twitter.</p>

  <h2>How to support Dead Bird Switch</h2>
  <p>Consider subscribing to <a href="https://legiblenews.com/plus">Legible News Plus subscription</a> or use <a href="https://www.thingybase.com/">Thingybase</a> to manage your home inventory.</p>
</article>